<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    自动驼峰命名转换-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
<!--    别名处理器，这里是批量定义所有bean包下类的别名，不指定则默认首字母小写（User-user）,可在mapper.xml中的resultType处使用-->
    <typeAliases>
        <package name="com.sensen.bms.bean"/>
    </typeAliases>
<!--    放在typeAliases后面-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
</configuration>